@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --discord-purple: #7289da;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

.layout {
  display: grid;
  grid-template-columns: auto auto 1fr;
}

.serverDialog {
  top: 50%;
  left: 50%;
  transform: translate(-100%, -100%);
}

::backdrop {
  background-image: linear-gradient(-45deg, #7289da, rebeccapurple);
  opacity: 0.5;
}

.labelTitle {
  @apply mb-2 uppercase text-sm font-bold text-gray-500;
}

input,
select {
  @apply w-full p-2 border border-gray-400 rounded mb-8;
}
